// Helpers for margins
// NOTE: never use two helpers that can cancel each other
//----------------------------------------------------------------------------------------------------------------------
//

.h-marginT--xxs {
	margin-top: 5px;
}

.h-marginR--xxs {
	margin-right: 5px;
}

.h-marginB--xxs {
	margin-bottom: 5px;
}

.h-marginL--xxs {
	margin-left: 5px;
}

// xs

.h-marginT--xs {
	margin-top: 10px;
}

.h-marginR--xs {
	margin-right: 10px;
}

.h-marginB--xs {
	margin-bottom: 10px;
}

.h-marginL--xs {
	margin-left: 10px;
}

// sm

.h-marginT--sm {
	margin-top: 15px;
}

.h-marginR--sm {
	margin-right: 15px;
}

.h-marginB--sm {
	margin-bottom: 15px;
}

.h-marginL--sm {
	margin-left: 15px;
}

//md

.h-marginT--md {
	margin-top: 20px;
}

.h-marginR--md {
	margin-right: 20px;
}

.h-marginB--md {
	margin-bottom: 20px;
}

.h-marginL--md {
	margin-left: 20px;
}

// lg

.h-marginT--lg {
	margin-top: 25px;
}

.h-marginR--lg {
	margin-right: 25px;
}

.h-marginB--lg {
	margin-bottom: 25px;
}

.h-marginL--lg {
	margin-left: 25px;
}

// xxl

.h-marginT--xxl {
	margin-top: 30px;
}

.h-marginR--xxl {
	margin-right: 30px;
}

.h-marginB--xxl {
	margin-bottom: 30px;
}

.h-marginL--xxl {
	margin-left: 30px;
}

.h-marginT--xxxl {
	margin-top: 35px;
}

.h-noMargin {
	margin: 0;
}

.h-noMarginT {
	margin-top: 0;
}

.h-noMarginB {
	margin-bottom: 0;
}

